* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* maincontainer */
#maincontainer {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* heading */
h1 {
  margin-top: 0.625rem;
  letter-spacing: 0.125rem;
  font-weight: 100;
  color: #ff8e8e;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

/* drums container */
#drumscontainer {
  height: 90%;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.5px;
}

/* individual drums buttons */
.drmsButton {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 20%;
  margin: 1.25em;
  background-color: #00000066;
  border: 0.25em solid #77774e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* drum name in individual drums */
.drumname {
  padding: 0.3125em;
  color: rgb(252, 239, 4);
  font-size: 0.9375rem;
  letter-spacing: 0.125rem;
}

/* drum code in individual container */
.drumcode {
  padding: 0.3125em;
  color: #ff8e8e;
  font-size: 1.875rem;
}
